<div>
  <h2 id="page-heading" data-cy="ModulesHeading">
    <span jhiTranslate="azimutApp.modules.home.title">Modules</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="azimutApp.modules.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-modules"
        [routerLink]="['/modules/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="azimutApp.modules.home.createLabel"> Create a new Modules </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="modules?.length === 0">
    <span jhiTranslate="azimutApp.modules.home.notFound">No modules found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="modules && modules.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="azimutApp.modules.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomModule">
            <span jhiTranslate="azimutApp.modules.nomModule">Nom Module</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prix"><span jhiTranslate="azimutApp.modules.prix">Prix</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="formation.id">
            <span jhiTranslate="azimutApp.modules.formation">Formation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let modules of modules; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/modules', modules.id, 'view']">{{ modules.id }}</a>
          </td>
          <td jhiTranslate="{{ 'azimutApp.NomModules.' + modules.nomModule }}">{{ modules.nomModule }}</td>
          <td>{{ modules.prix }}</td>
          <td>
            <div *ngIf="modules.formation">
              <a [routerLink]="['/formation', modules.formation?.id, 'view']">{{ modules.formation?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/modules', modules.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/modules', modules.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(modules)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="modules && modules.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
