<div>
  <h2 id="page-heading" data-cy="ApprenantHeading">
    <span jhiTranslate="azimutApp.apprenant.home.title">Apprenants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="azimutApp.apprenant.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-apprenant"
        [routerLink]="['/apprenant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="azimutApp.apprenant.home.createLabel"> Create a new Apprenant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="apprenants?.length === 0">
    <span jhiTranslate="azimutApp.apprenant.home.notFound">No apprenants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="apprenants && apprenants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="azimutApp.apprenant.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="photo"><span jhiTranslate="azimutApp.apprenant.photo">Photo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom"><span jhiTranslate="azimutApp.apprenant.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenom">
            <span jhiTranslate="azimutApp.apprenant.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="statut">
            <span jhiTranslate="azimutApp.apprenant.statut">Statut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="niveau">
            <span jhiTranslate="azimutApp.apprenant.niveau">Niveau</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="etatStud">
            <span jhiTranslate="azimutApp.apprenant.etatStud">Etat Stud</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contact">
            <span jhiTranslate="azimutApp.apprenant.contact">Contact</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email"><span jhiTranslate="azimutApp.apprenant.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="addParent">
            <span jhiTranslate="azimutApp.apprenant.addParent">Add Parent</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="inscription.id">
            <span jhiTranslate="azimutApp.apprenant.inscription">Inscription</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="formateur.id">
            <span jhiTranslate="azimutApp.apprenant.formateur">Formateur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let apprenant of apprenants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/apprenant', apprenant.id, 'view']">{{ apprenant.id }}</a>
          </td>
          <td>
            <a *ngIf="apprenant.photo" (click)="openFile(apprenant.photo, apprenant.photoContentType)">
              <img
                [src]="'data:' + apprenant.photoContentType + ';base64,' + apprenant.photo"
                style="max-height: 30px"
                alt="apprenant image"
              />
            </a>
            <span *ngIf="apprenant.photo">{{ apprenant.photoContentType }}, {{ byteSize(apprenant.photo) }}</span>
          </td>
          <td>{{ apprenant.nom }}</td>
          <td>{{ apprenant.prenom }}</td>
          <td>{{ apprenant.statut }}</td>
          <td>{{ apprenant.niveau }}</td>
          <td>{{ apprenant.etatStud }}</td>
          <td>{{ apprenant.contact }}</td>
          <td>{{ apprenant.email }}</td>
          <td>{{ apprenant.addParent }}</td>
          <td>
            <div *ngIf="apprenant.inscription">
              <a [routerLink]="['/inscription', apprenant.inscription?.id, 'view']">{{ apprenant.inscription?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="apprenant.formateur">
              <a [routerLink]="['/formateur', apprenant.formateur?.id, 'view']">{{ apprenant.formateur?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/apprenant', apprenant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/apprenant', apprenant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(apprenant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="apprenants && apprenants.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
